
# Pandas Ecommerce Purchases Exercise (by Jose Portila)

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.

** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [2]:
import pandas as pd
ecom = pd.read_csv('Ecommerce Purchases')

In [4]:
df = pd.DataFrame(ecom)
df.sample(10)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1183,"75382 Chavez Brooks Suite 840\nLake Gabrielle,...",07 Yz,AM,Opera/8.41.(X11; Linux x86_64; sl-SI) Presto/2...,"Vazquez, Wilson and Richardson",348354621708918,03/18,538,JCB 16 digit,bishoptimothy@schmidt-martin.com,Public affairs consultant,114.25.20.59,el,41.72
6704,"86352 Lynn Plains\nNorth Jennifer, MT 78149",92 WN,AM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5342...,Crawford-Mann,869951789505439,06/26,667,VISA 16 digit,stephaniecisneros@williams.com,Medical physicist,128.76.58.33,de,95.43
5576,Unit 5061 Box 6396\nDPO AP 46498-2250,75 oB,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows 98;...,Smith-Brown,4619750057518,12/24,6103,Diners Club / Carte Blanche,christinasilva@davis.net,Dramatherapist,107.199.14.136,ru,36.28
2150,"02500 Christopher Land\nPort Seanfurt, ME 13606",03 CX,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_3...,Bowers-Hardy,502055350297,11/22,289,American Express,nbooth@gmail.com,Chemical engineer,27.167.165.22,zh,16.75
5349,"504 Richard Plain\nJessicastad, ME 33009-2183",03 VR,PM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,"Browning, Martin and Taylor",341026899438306,03/21,520,JCB 15 digit,brianbaxter@yahoo.com,Furniture designer,45.178.136.81,ru,49.49
4437,"67948 Amy Plaza\nEast Adrienneton, NH 64526-7613",74 pp,PM,Mozilla/5.0 (Windows NT 5.1; it-IT; rv:1.9.0.2...,Poole Inc,501811790226,03/22,889,Diners Club / Carte Blanche,taylorgary@cummings.info,Curator,103.60.245.94,en,89.17
7705,"223 Jones Plaza\nEast Rebecca, GU 04781-6292",55 La,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5352 ...,Thompson-Moyer,3337838061837978,02/18,255,JCB 16 digit,ccooper@yahoo.com,Radio producer,181.127.236.236,pt,81.80
7037,USCGC Watson\nFPO AP 72573,55 in,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_2 like M...,"Gonzalez, Nicholson and Moore",30501371549511,08/26,859,VISA 16 digit,brandon30@yahoo.com,"Presenter, broadcasting",130.0.234.241,es,32.42
2100,"07735 Kristina Creek Suite 238\nAaronfort, UT ...",22 hA,PM,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,Miller LLC,3088815073196800,09/25,561,VISA 16 digit,jherrera@rhodes.com,Amenity horticulturist,183.4.28.181,it,54.94
2716,USS Lewis\nFPO AE 80293,30 Zk,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_3 like M...,Hall-Brennan,3088897422996999,10/16,17,VISA 16 digit,esanchez@hotmail.com,Leisure centre manager,46.200.111.194,it,68.84

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

### Exercise 1
**Check the head of the DataFrame.**

In [6]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

### Exercise 2
** How many rows and columns are there? **

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

### Exercise 3
** What is the average Purchase Price? **

In [8]:
df['Purchase Price'].mean()

50.347302

### Exercise 4
** What were the highest and lowest purchase prices? **

In [9]:
df['Purchase Price'].min()

0.0

In [10]:
df['Purchase Price'].max()

99.99

In [11]:
df.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

### Exercise 5
** How many people have English 'en' as their Language of choice on the website? **

In [12]:
df[df.Language.str.contains('en')].drop_duplicates('Email').info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1098 entries, 11 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           1098 non-null   object
 1   Lot               1098 non-null   object
 2   AM or PM          1098 non-null   object
 3   Browser Info      1098 non-null   object
 4   Company           1098 non-null   object
 5   Credit Card       1098 non-null   int64
 6   CC Exp Date       1098 non-null   object
 7   CC Security Code  1098 non-null   int64
 8   CC Provider       1098 non-null   object
 9   Email             1098 non-null   object
 10  Job               1098 non-null   object
 11  IP Address        1098 non-null   object
 12  Language          1098 non-null   object
 13  Purchase Price    1098 non-null   float64
dtypes: float64(1), int64(2), object(11)
memory usage: 128.7+ KB

In [13]:
df['Language'].value_counts()['en']

1098

In [14]:
language = df["Language"] == "en"
print(language.sum())

1098

### Exercise 6
** How many people have the job title of "Lawyer" ? **

In [15]:
df[df.Job.str.contains('Lawyer')].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [17]:
job = df["Job"] == "Lawyer"
print(job.sum())

30

### Exercise 7
** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [39]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [43]:
am = df["AM or PM"] == "AM"
pm = df["AM or PM"] == "PM"
print("am:", am.sum())
print("pm:", pm.sum())

am: 4932
pm: 5068

### Exercise 8
** What are the 5 most common Job Titles? **

In [51]:
df['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Purchasing manager                   27
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

### Exercise 9
** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

513    75.1
Name: Purchase Price, dtype: float64

In [18]:
lot90WT = df["Lot"] == "90 WT"
lot90WT = df[lot90WT]
print(lot90WT["Purchase Price"])

513    75.1
Name: Purchase Price, dtype: float64

In [19]:
df[df.Lot.str.contains("90 WT")]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [20]:
df.iloc[[513]]['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

### Exercise 10
** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [60]:
df[df['Credit Card'] == (4926535242672853)]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

### Exercise 11
** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [101]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

### Exercise 12
** Hard: How many people have a credit card that expires in 2025? **

In [102]:
sum(ecom['CC Exp Date'].apply(lambda x: x[3:]) == '25')

1033

### Exercise 13
** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [56]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64